---
title: "Oasis Refund"
preheader: "Oasis Refund"
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">

            <div class="text-center">
              <img src="https://firebasestorage.googleapis.com/v0/b/flutterfirebaseauth-1c71a.appspot.com/o/images%2Flogo.png?alt=media&token=023c6c8e-409f-47c2-80f5-91482c166f6e" width="150" alt="oasis hostel" class="mx-auto">
              <h1 class="text-primary-500">Oasis Hostel</h1>
            </div>

          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
                  Hello { data.username },
                </h1>

                <p class="m-0 leading-6">
                  Your cancellation and refund request has been accepted. 
                  You can expect the refund within 7 - 12 business days.
                </p>   

                <x-divider space-y="32px" class="bg-slate-500" />

                <p class="m-0">
                  Thanks, <br />The Oasis Hostel Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">

                <p class="m-0 mb-4 uppercase">
                  Powered by Oasis
                </p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <x-spacer height="120px" />
  </div>
</x-main>
